<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="phoneStyle.css">
    <!-- <link rel="stylesheet" media="screen and (max-width: 415px)" href="phoneStyle.css"> -->

    <title>HealthyList</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">

        <!-- Main page -->
        <main>
            <h1>Votre liste</h1>

            <div class="global-infos">

                <div class="global-score">
                    <div class="circle" :class="color">
                        <p>
                            <span class="global-score-value">{{ score || '-' }}</span>
                            <span class="global-score-base">/10</span>
                        </p>
                    </div>
                </div>

                <div class="global-recap">
                    <ul>
                        <li>
                            <span class="global-category">{{ healthMessage }}</span>
                        </li>
                        <li>
                            Nutriscore :
                            <span class="global-nutriscore">{{ nutriscore }}</span>
                        </li>
                        <li>
                            <span class="global-advice">
                                {{ advice }}
                            </span>
                        </li>
                    </ul>
                    
                </div>
            </div>

            <h2 v-show="healthyItems.length > 0">Produits sains</h2>
            <div class="product-list">
                <div v-for="answer in healthyItems" class="product" :class="answer.checked ? 'product-checked' : null"
                    :style="{
                        backgroundImage: answer.checked
                            ? `linear-gradient(180deg, rgba(240, 240, 240, 0.65) 0%, rgba(240, 240, 240, 0.65) 100%), url(${answer.openfoodfacts.image_url})`
                            : `url(${answer.openfoodfacts.image_url})`
                    }"
                    @click="() => editItem(answer)"
                >
                    <h4>{{answer.name}}</h4>
                    <p>{{answer.quantity}}</p>
                </div>
            </div>

            <h2 v-show="middleItems.length > 0">Produits moyens</h2>
            <div class="product-list">
                <div v-for="answer in middleItems" class="product" :class="answer.checked ? 'product-checked' : null"
                    :style="{
                        backgroundImage: answer.checked
                            ? `linear-gradient(180deg, rgba(240, 240, 240, 0.65) 0%, rgba(240, 240, 240, 0.65) 100%), url(${answer.openfoodfacts.image_url})`
                            : `url(${answer.openfoodfacts.image_url})`
                    }"
                    @click="() => editItem(answer)"
                >
                    <h4>{{answer.name}}</h4>
                    <p>{{answer.quantity}}</p>
                </div>
            </div>

            <h2 v-show="badItems.length > 0">Produits à éviter</h2>
            <div class="product-list">
                <div v-for="answer in badItems" class="product" :class="answer.checked ? 'product-checked' : null"
                    :style="{
                        backgroundImage: answer.checked
                            ? `linear-gradient(180deg, rgba(240, 240, 240, 0.65) 0%, rgba(240, 240, 240, 0.65) 100%), url(${answer.openfoodfacts.image_url})`
                            : `url(${answer.openfoodfacts.image_url})`
                    }"
                    @click="() => editItem(answer)"
                >
                    <h4>{{answer.name}}</h4>
                    <p>{{answer.quantity}}</p>
                </div>
            </div>

            <h2 v-show="otherItems.length > 0">Produits non classés</h2>
            <div class="product-list">
                <div v-for="answer in otherItems" class="product" :class="answer.checked ? 'product-checked' : null"
                    :style="{
                        backgroundImage: answer.checked
                            ? `linear-gradient(180deg, rgba(240, 240, 240, 0.65) 0%, rgba(240, 240, 240, 0.65) 100%), url(${answer.openfoodfacts.image_url})`
                            : `url(${answer.openfoodfacts.image_url})`
                    }"
                    @click="() => editItem(answer)"
                >
                    <h4>{{answer.name}}</h4>
                    <p>{{answer.quantity}}</p>
                </div>
            </div>

            <button class="list-clear-button" v-show="items.length > 0" @click="clearList">
                Vider la liste
            </button>

            <button class="adding-button" @click="addMenuOpened = true">
                <i class="material-icons">add_circle</i>
            </button>
        </main>


        <!-- Search product -->
        <section id="search-page" v-show="addMenuOpened">
            <button class="quit-cross" @click="addMenuOpened = false">
                <i class="large material-icons">clear</i>
            </button>
            <div class="container">
                <h1>Rechercher un produit</h1>
                <form id="search-form" @submit="searchProduct">
                    <input id="search-product" placeholder="Oréo, Soupe, ..." v-model="lastSearch"></input>
                    <button type="submit"><i class="material-icons">search</i></button>
                </form>
                <div class="products-answer">
                    <div
                        v-for="answer in searchAnswer"
                        class="product"
                        :style="{ backgroundImage: `linear-gradient(180deg, rgba(240, 240, 240, 0.65) 0%, rgba(240, 240, 240, 0.65) 100%), url(${answer.openfoodfacts.image_url})` }"
                        @click="addToList(answer)">
                        <h4>{{answer.name}}</h4>
                        <p>{{answer.openfoodfacts.brands}}</p>
                        <p>{{answer.quantity}}</p>
                    </div>
                </div>

                <div class="product-barcode-scan">
                    <p>Ou</p>
                    <img src="https://lepetitjournal.com/sites/default/files/styles/main_article/public/2020-02/Code%20barre%20883%20en%20BIrmanie.jpg?itok=vSo6AA2N" alt="scann" @click="startScan"/>
                </div>
            </div>
        </section>

        <!-- Product infos -->
        <section id="product-infos" v-if="currentItemInView != null">
            <div class="container">
                <div class="product-image-container">
                    <img class="product-image" :src="currentItemInView.openfoodfacts.image_url" alt="Product-image" />
                    <button class="quit-cross" @click="saveItem()">
                        <i class="large material-icons">clear</i>
                    </button>
                </div>

                <div class="product-name">
                    <h2>Nom :</h2>
                    <input class="product-info-input" type="text" v-model="currentItemInView.name"/>
                    
                    <h2>Quantité :</h2>
                    <input class="product-info-input" type="text" v-model="currentItemInView.quantity"/>

                    <div class="product-desc-input">
                        <p>Marques : {{currentItemInView.openfoodfacts.brands}}</p>
                    </div>
                </div>

                <div class="product-button-container">
                    <button
                        class="product-button product-list-check-button"
                        @click="toggleItemFromList"
                    >
                        {{currentItemInView.checked ? "Remettre en liste" : "Rayer de la liste"}}
                    </button>
                    <button
                        class="product-button product-remove-button"
                        @click="removeItemFromList"
                    >
                        Retirer de la liste
                    </button>
                </div>
            </div>
            
        </section>
    </div>

    <script src="quagga.min.js"></script>
    <script src="camera.js"></script>
    <script src="api.js"></script>
    <script src="main.js"></script>
    
</body>
</html>