body {
    display: flex;
    justify-content: center;
}

#app {
    background-color: white;
    font-family: "Montserrat", sans-serif;
    max-width: 500px;
    margin: 20px;
}

.material-icons {
    pointer-events: none;
}

button{
    margin : 0;
    padding: 0;
    background: none;
    border: none;
}

.container{
    width: 100%;
    max-width: 500px;
    margin: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quit-cross{
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: white;
    border-radius: 84.5px;
}

.quit-cross > i{
    font-size: 3em;
    color: #3F3E68;
}

/*********** DÉBUT MAIN ***********/

main h1{
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;
    color: #3F3E68;
}

/* GLOBALS INFOS */

.global-infos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.global-score {
    padding-right: 20px;
}

.global-score .circle {
    width: 100px;
    height: 100px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 84.5px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-grey {
    background: linear-gradient(180deg, #AAAAAA 0%, #555555 100%);
}

.circle-red {
    background: linear-gradient(180deg, #C46B18 0%, #93170F 100%);
}

.circle-yellow {
    background: linear-gradient(180deg, #D2B623 0%, #86790A 100%);
}

.circle-green {
    background: linear-gradient(180deg, #0A9D4E 0%, #2E7A0A 100%);
}

.global-score p {
    margin: 0px;

    position: absolute;


    font-weight: bold;
    display: flex;
    align-items: baseline;

    color: #F4F4F4;
}

.global-score .global-score-value{
    font-size: 50px;    
}

.global-recap ul{
    list-style-type: none;
    margin: 0;
    padding: 0px;
}

.global-category{
    font-weight: bold;
    font-size: 25px;

    color: #3F3E68;
}

.global-nutriscore {
    font-weight: bold;
}

.global-advice {
    color: red;
    font-size: 0.7em;
    font-weight: bold;
}

/* CATEGORIES */

main h2{
    font-weight: bold;
    font-size: 24px;
    line-height: 56px;

    color: #3F3E68;
}

.adding-button{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.adding-button > i {
    font-size: 5em;
    color: #3F3E68;
}

.product-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-around;
}

.product-list .product {
    margin: 10px;
}
/*********** FIN MAIN ***********/


/*********** DÉBUT SEARCH PRODUCT ***********/
section#search-page{
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
}

#search-page h1{
    font-weight: bold;
    font-size: 24px;
    line-height: 56px;
    color: white;
}

#search-form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 10px;
    padding: 0 20px;

    border: none;
    width: 100%;
    height: 60px;
    border-radius: 20px;

    margin-bottom: 20px;

    background-color: white;
}

#search-product {
    border: none;
    padding: 5px;
    padding-left: 10px;
}

#search-product:focus {
    outline: none;
}

#search-page .products-answer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: scroll;
}

#search-page .products-answer .product {
    margin: 10px;
}

.product {
    width: 7em;
    height: 7em;
    border-radius: 20px;

    padding: 1em;
    color: #3F3E68;
    background-size: cover;
    
    overflow: hidden;
}

.product:hover {
    text-decoration: underline;
}

.product h4 {
    text-overflow: ellipsis;
    margin: 0;
}

/*********** FIN SEARCH PRODUCT ***********/

/*********** DÉBUT PRODUCT INFOS ***********/
section#product-infos{
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    color: white;
}

.product-image-container{
    margin-bottom: 2em;
}

.product-image{
    margin-top: 10px;
    width: 15em;
    height: 15em;
    border-radius: 20px;
    object-fit: cover;
}

#product-infos .product-name{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-info-input:focus {
    outline: none;
}

.product-info-input{
    width: 95%;
    border: none;
    background-color: white;
    color: #3F3E68;
    font-size: 1em;
    height: 3em;
    padding-left: 5%;
    border-radius: 20px;
    margin-bottom: 3em;
}

.product-desc-input{
    height: 5em;
    overflow-y: scroll;
}

.product-button-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-button{
    width: 80%;
    height: 2em;
    background-color: white;
    font-size: 1.5em;
    margin-bottom: 0.5em;
    border-radius: 30px;
}

.product-button:hover{
    text-decoration: underline;
}

.product-list-check-button{
    background-color: #3F3E68;
    color: white;
}

.product-remove-button{
    background-color: red;
    color: white;
}